header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    h1 {
        color: white;
    }
    div {
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    header {
      display: block;
      h1 {
          text-align: center;
      }
    }
     div {
        text-align: center;
    }
    p {
        margin-top: 1px;
    }


  }